/* Statistics table */
table.statistics {
  position: absolute;
  top: 25px;
  right: 125px;
}

 table.statistics th {
  min-width: 7em;
}

table.statistics th {
  text-align: right;
  padding-right: 1em;
  font-weight: bold;
}

tr.orphan {
  background: #dddddd;
}

/* Balances table */
table.balances {
  font-size: 140%;
}

table.balances th {
  width: 12em;
  font-weight: normal;
}

table.balances td {
  text-align: right;
  font-weight: bold;
}

table.balances td.confirmed {
  color: green;
}

table.balances td.unconfirmed {
  color: orange;
}

/* Beta banner */
img#beta-banner {
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
}