- if flash
  - unless [:notice, :alert, :error].map{ |i| flash[i].blank? }.all?
    .flash
      - unless flash[:error].blank?
        .error= flash[:error].html_safe
      - unless flash[:alert].blank?
        .error= flash[:alert].html_safe
      - unless flash[:notice].blank?
        .error= flash[:notice].html_safe
          